@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
    --cor-cabecalho: #024766;
    --fonte-links: "Montserrat", sans-serif;
    --fonte-textos: "Inter", sans-serif;
    --fundo-main-1: #2E6E8C;
}

*{
    padding: 0;
    margin: 0;
}

/* cabeçalho */

.cabecalho{
    background-color: var(--cor-cabecalho);
}

.logo{
    width: 7vw;
}

.titulo_cabecalho{
    font-family: var(--fonte-links);
    color: #ffffff;
}

.cabecalho_logo_links{
    display: flex;
    align-items: center;
}

.cabecalho_links{
    display: flex;
}

.links{
    display: flex;
    text-decoration: none;
}

.primeiro_link{
    margin-left: 38vw;
} 

.segundo_link{
    margin-left: 5vw;
}

.terceiro_link{
    margin-left: 5vw;
}

.quarto_link{
    margin-left: 5vw;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-family: var(--fonte-links);
    transition-duration: 0.3s;
    transition-property: transform;
    property: transform;
}

a:hover{
    transform: scale(1.1);
    transform: scale(1.1);
}

/* Primeira Parte Main */

.main_primeira_parte{
    background-color: var(--fundo-main-1);
}

.main_primeira_titulo{
    font-family: var(--fonte-textos);
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 2rem;
}

.main_primeira_subtitulo{
    font-family: var(--fonte-textos);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}

.main_primeira_textos{
    font-family: var(--fonte-textos);
    font-weight: normal;
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
}

.textos_poluição_marinha{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.poluicao_marinha{
    width: 40vw;
}

.imagem_textos_impacto{
    display: flex;
    align-items: center;
    margin: 5% 0% 0% 5%;
    padding-bottom: 2rem;

}

.main_primeira_imagem{
    width: 40vw;
    border: solid 3px var(--cor-cabecalho);
}

.textos_impacto{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 5rem;
}

/* Segunda Parte Main */

.main_segunda_parte{
    background-color: #ffffff;
    padding-bottom: 5%;
}

.titulo_segunda{
    font-family: var(--fonte-textos);
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: 5%;
    display: flex;
}

.tipos_poluição{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}

.titulo_tipos{
    font-family: var(--fonte-textos);
    font-weight: bold;
    font-size: 1.5rem;
}

.textos_tipos{
    font-family: var(--fonte-textos);
    font-weight: normal;
    font-size: 1.2rem;
    width: 35vw;
    text-align: justify;
    margin-left: 1rem;
}

.imagem_texto{
    display: flex;
    margin-top: 1.5rem;
}

.tipos_3_4{
    margin-left: 5%;
}

.titulo_quimica{
    margin-top: 40%;
}

.imagem_quimica{
    width: 5.5vw;
}

.titulo_esgoto{
    margin-top: 40%;
}

/* Terceira Parte Main */

.main_terceira_parte{
    background-color: var(--cor-cabecalho);
}

.titulo_terceira{
    font-family: var(--fonte-textos);
    color: #ffffff;
    font-weight: bolder;
    font-size: 3rem;
    margin: 0 0 2rem 5%;
    padding-top: 2rem;
}

.oceano_interativo{
    background-image: url(../img/oceano-720px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 20vw; */
}

.bolinha{
    border: 3px solid black;
    border-radius: 10rem;
    background-color: var(--cor-cabecalho);
    color: #ffffff;
    font-family: var(--fonte-textos);
    font-size: 2.5rem;
    padding: 2rem 3rem;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.bolinha:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    transform: scale(1.1);
}

.bolinha_1{
    margin-left: 10%;
    margin-top: 28%;
}

.bolinha_2{
    margin-left: 79%;
    margin-top: 2%;
}

.bolinha_3{
    margin-left: 18%;
    margin-top: 2%;
}

.bolinha_4{
    margin-left: 70%;
    margin-top: 1%;
    margin-bottom: 2rem;
}

.conteudo{
    background-color: var(--fundo-main-1);
    
}

.conteudo_imagem{
    display: flex;
}

.titulo_conteudo{
    font-family: var(--fonte-textos);
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 2rem;
}

.texto_conteudo{
    font-family: var(--fonte-textos);
    color: #ffffff;
    font-weight: normal;
    font-size: 2rem;
    /* text-align: justify; */
    width: 40vw;
    margin-left: 2rem;
}

.conteudo_4{
    padding-bottom: 2rem;
}

.imagem_conteudo{
    margin: 0 2rem 2rem 2rem;
    border: 5px solid var(--cor-cabecalho);
    border-radius: 10px;
}

dialog{
    overflow: hidden;
    border: 3px solid var(--cor-cabecalho);
    width: 70%;
    margin: auto;
    background-color: var(--fundo-main-1);
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.493);
}

.closeModal{
    border: none;
    background-color: var(--fundo-main-1);
    color: #ffffff;
    font-family: var(--fonte-textos);
    font-size: 1.2rem;
    margin-left: 96%;
    margin-top: 2%;
}

/* rodapé */

.rodape{
    background-color: var(--cor-cabecalho);
    text-align: center;
    padding-top: 1rem;
}


.copyright{
    font-family: var(--fonte-textos);
    color: #ffffff;
    margin-top: 1rem;
    padding-bottom: 1rem;
}



