@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
    --cor-cabecalho: #024766;
    --fonte-links: "Montserrat", sans-serif;
    --fonte-textos: "Inter", sans-serif;
    --fundo-main-1: #2E6E8C;
}

*{
    padding: 0;
    margin: 0;
}

/* cabeçalho */

.cabecalho{
    background-color: var(--cor-cabecalho);
}

.logo{
    width: 7vw;
}

.cabecalho_logo_links{
    display: flex;
    align-items: center;
}

.cabecalho_links{
    display: flex;
}

.links{
    display: flex;
    text-decoration: none;
}

.primeiro_link{
    margin-left: 50vw;
    text-decoration: none;
} 

.segundo_link{
    margin-left: 5vw;
}

.terceiro_link{
    margin-left: 5vw;
}

.quarto_link{
    margin-left: 5vw;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-family: var(--fonte-links);
}

/* Primeira Parte Main */

.main_primeira_parte{
    background-color: var(--fundo-main-1);
}

.main_primeira_titulo{
    font-family: var(--fonte-textos);
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 2rem;
}

.main_primeira_subtitulo{
    font-family: var(--fonte-textos);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}

.main_primeira_textos{
    font-family: var(--fonte-textos);
    font-weight: normal;
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
}

.textos_poluição_marinha{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.poluicao_marinha{
    width: 40vw;
}

.imagem_textos_impacto{
    display: flex;
    align-items: center;
    margin: 5% 0% 0% 5%;
    padding-bottom: 2rem;

}

.main_primeira_imagem{
    width: 40vw;
    border: solid 3px var(--cor-cabecalho);
}

.textos_impacto{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 5rem;
}






