@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
    --cor-cabecalho: #024766;
    --fonte-links: "Montserrat", sans-serif;
    --fonte-textos: "Inter", sans-serif;
    --fundo-main-1: #2E6E8C;
}

.alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.texto_alerta{
    font-family: var(--fonte-textos);
    color: red;
    font-size: 3rem;
}

.imagem_alerta{
    width: 8rem;
}

.conteudo_alerta{
    margin-top: 3rem;
    margin-left: 5rem;
}

.subtitulo_alerta{
    font-family: var(--fonte-textos);
    color: var(--cor-cabecalho);
    font-size: 3rem;
}

.texto_conteudo_alerta{
    font-family: var(--fonte-textos);
    color: var(--cor-cabecalho);
    font-size: 2rem;
    margin-top: 3%;
}

.bolinhas_alerta{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 7%;
}

.bolinha_alerta{
    margin-left: 4%;
}

@media (max-width: 1440px){
    .conteudo_alerta{
        margin-top: 3rem;
        margin-left: 3rem;
    }
}

@media (max-width: 840px){
    .subtitulo_alerta{
        font-size: 2rem;
    }

    .texto_conteudo_alerta{
        font-size: 1.5rem;
    }

    .bolinhas_alerta{
        margin-top: 15%;
        margin-bottom: 17%;
    }
}

@media (max-width: 750px){

}

@media (max-width: 430px){
    .texto_alerta{
        font-size: 2rem;
    }

    .imagem_alerta{
        width: 20vw;
    }

    .subtitulo_alerta{
        font-size: 1.5rem;
    }

    .texto_conteudo_alerta{
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .bolinhas_alerta{
        margin-top: 20%;
        margin-bottom: 15%;
    }

    .bolinha_alerta{
        margin-left: 2%;
    }
}